.vscode
# .a65 is considered temporary, .asm is considered permanent
*.a65
*.lab
*.lst
#
# .obx is considered temporary, .obj is considered permanent
*.obx
*.xex
*.o
*.ppu
*.pyc
*.opt
*.WinMerge
.DS_Store
bin/windows_x86_64
build.bat
buildrun.bat
build.sh
__pycache__
projects/TestMadPascal
projects/MakeMadPascal
projects/*.res
projects/ppas.sh
src/test.bat
samples/WinMerge.txt
test/config.ini

origin/mp.exe
/mp
