.vscode
*.a65
*.lab
*.lst
*.obx
*.xex
*.o
*.ppu
*.pyc
test/config.ini
build.bat
buildrun.bat
build.sh
__pycache__
src/test.bat
*.opt
samples/WinMerge.txt
*.WinMerge
.DS_Store
projects/TestMadPascal
projects/MakeMadPascal
projects/*.res
projects/ppas.sh
