.vscode
*.a65
*.lab
*.lst
*.obx
*.xex
*.o
*.ppu
*.pyc
*.opt
*.WinMerge
.DS_Store
bin/windows
build.bat
buildrun.bat
build.sh
__pycache__
projects/TestMadPascal
projects/MakeMadPascal
projects/*.res
projects/ppas.sh
src/test.bat
samples/WinMerge.txt
test/config.ini

