CREATURE_001_PAK rcdata 'packed/creature_001.pak'
CREATURE_002_PAK rcdata 'packed/creature_002.pak'
CREATURE_003_PAK rcdata 'packed/creature_003.pak'
CREATURE_004_PAK rcdata 'packed/creature_004.pak'
CREATURE_005_PAK rcdata 'packed/creature_005.pak'
CREATURE_006_PAK rcdata 'packed/creature_006.pak'
CREATURE_007_PAK rcdata 'packed/creature_007.pak'
CREATURE_008_PAK rcdata 'packed/creature_008.pak'
CREATURE_009_PAK rcdata 'packed/creature_009.pak'
CREATURE_010_PAK rcdata 'packed/creature_010.pak'
CREATURE_011_PAK rcdata 'packed/creature_011.pak'
CREATURE_012_PAK rcdata 'packed/creature_012.pak'
CREATURE_013_PAK rcdata 'packed/creature_013.pak'
CREATURE_014_PAK rcdata 'packed/creature_014.pak'
CREATURE_015_PAK rcdata 'packed/creature_015.pak'
CREATURE_016_PAK rcdata 'packed/creature_016.pak'
CREATURE_017_PAK rcdata 'packed/creature_017.pak'
CREATURE_018_PAK rcdata 'packed/creature_018.pak'
CREATURE_019_PAK rcdata 'packed/creature_019.pak'
CREATURE_020_PAK rcdata 'packed/creature_020.pak'
CREATURE_021_PAK rcdata 'packed/creature_021.pak'
CREATURE_022_PAK rcdata 'packed/creature_022.pak'
CREATURE_023_PAK rcdata 'packed/creature_023.pak'
CREATURE_024_PAK rcdata 'packed/creature_024.pak'
CREATURE_025_PAK rcdata 'packed/creature_025.pak'
CREATURE_026_PAK rcdata 'packed/creature_026.pak'
CREATURE_027_PAK rcdata 'packed/creature_027.pak'
CREATURE_028_PAK rcdata 'packed/creature_028.pak'
CREATURE_029_PAK rcdata 'packed/creature_029.pak'
CREATURE_030_PAK rcdata 'packed/creature_030.pak'
CREATURE_031_PAK rcdata 'packed/creature_031.pak'
CREATURE_032_PAK rcdata 'packed/creature_032.pak'
CREATURE_033_PAK rcdata 'packed/creature_033.pak'
CREATURE_034_PAK rcdata 'packed/creature_034.pak'
CREATURE_035_PAK rcdata 'packed/creature_035.pak'
CREATURE_036_PAK rcdata 'packed/creature_036.pak'
CREATURE_037_PAK rcdata 'packed/creature_037.pak'
CREATURE_038_PAK rcdata 'packed/creature_038.pak'
CREATURE_039_PAK rcdata 'packed/creature_039.pak'
CREATURE_040_PAK rcdata 'packed/creature_040.pak'
CREATURE_041_PAK rcdata 'packed/creature_041.pak'
CREATURE_042_PAK rcdata 'packed/creature_042.pak'
CREATURE_043_PAK rcdata 'packed/creature_043.pak'
CREATURE_044_PAK rcdata 'packed/creature_044.pak'
CREATURE_045_PAK rcdata 'packed/creature_045.pak'
CREATURE_046_PAK rcdata 'packed/creature_046.pak'
CREATURE_047_PAK rcdata 'packed/creature_047.pak'
CREATURE_048_PAK rcdata 'packed/creature_048.pak'
CREATURE_049_PAK rcdata 'packed/creature_049.pak'
CREATURE_050_PAK rcdata 'packed/creature_050.pak'
CREATURE_051_PAK rcdata 'packed/creature_051.pak'
CREATURE_052_PAK rcdata 'packed/creature_052.pak'
CREATURE_053_PAK rcdata 'packed/creature_053.pak'
CREATURE_054_PAK rcdata 'packed/creature_054.pak'
CREATURE_055_PAK rcdata 'packed/creature_055.pak'
CREATURE_056_PAK rcdata 'packed/creature_056.pak'
CREATURE_057_PAK rcdata 'packed/creature_057.pak'
CREATURE_058_PAK rcdata 'packed/creature_058.pak'
CREATURE_059_PAK rcdata 'packed/creature_059.pak'
CREATURE_060_PAK rcdata 'packed/creature_060.pak'
CREATURE_061_PAK rcdata 'packed/creature_061.pak'
CREATURE_062_PAK rcdata 'packed/creature_062.pak'
CREATURE_063_PAK rcdata 'packed/creature_063.pak'
CREATURE_064_PAK rcdata 'packed/creature_064.pak'
