@font-face {
  font-family: 'atari8';
  src: url('eightbit_atari-regular-webfont.woff2') format('woff2'),
       url('eightbit_atari-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  border:0;
}
body {
  background-color: #000;
  color:#ccc;
  font-family: Arial, sans-serif;
  margin:10px 10px;
}


.menulist {
  display: block;
  overflow: auto;
  margin-bottom: 6px;
  border-bottom: 1px dotted #666;
  width: 100%;
}

#main {
  clear: both;
}

.menuitem {
  display: block;
  float: left;
  padding: 2px 6px;
  background-color: #aaa;
  color: #222  !important;
  cursor: pointer;
  margin-right: 5px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-radius: 4px;
  text-shadow:  1px 1px 0px #ccc;
  font-size: 14px;
  height: 15px;
  line-height: 1em;
  margin-bottom: 6px;
  font-family: Arial, helvetica, sans-serif;
  font-weight: bold;
}

.menuseparator {
  display: block;
  float: left;
  width: 0px;
  height:16px;
  margin: 2px 7px 0 2px;
  border-left: 1px solid #666;
  border-right: 1px dotted #888;
}

.menubr {
  clear: left;
  display: block;
  float: left;
  width: 0px;
  height: auto;
  padding-top:10px;
}


.break {
  clear: left;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.block {
  display: block;
}

.green {
  color: #8f8;
}

.red {
  color: #f88;
}

.blue {
  color: #88f;
}

.fileinput {
  position: absolute;
  clip: rect( 0, 0, 0, 0 );
}

#consol {
    font-family: monospace;
    padding: 5px 5px;
    background-color: #030;
    color: #0b0;
    width:80%;
    overflow: auto;
    min-height: 200px;
    min-width: 800px;
    background-image: url('cutas.png');
    background-position: top right;
    background-repeat: no-repeat;
    font-family: atari8, monospace;
}

pre {
  font-family: atari8, monospace;
}

.dialog {
    position:absolute;
    display:none;
    background:#aba;
    color:#000;
    border-radius:5px;
    box-shadow: 0 0 4px #000;
    border: 2px solid #000;
    overflow:hidden;
    font-size:12px;
}

#options_dialog {
    top: 40px;
    left:450px;
}

#export_dialog {
    top: 40px;
    left:250px;
}



.dialog_title {
    position:relative;
    width:100%;
    background:#454;
    color:#aba;
    text-align: center;
    margin-bottom:5px;
    padding:3px;
    font-weight:bold;
}

.dialog_content {
    padding:10px;
}

.dialog_label {
    padding-top:4px;
    display:block;
    float: left;
    width: 120px;
}

fieldset, hr {
  margin-bottom:4px;
}

.dialog_text_input {
    border:1px solid #888;
    padding:2px;
}


.dialog_block {
    display: block;
    float: left;
}

.dialog_block:not(:last-child) {
    margin-right:10px;
    padding-right:10px;
    border-right:1px solid #454;
}

.clear_left {
    clear:left;
}

.input_narrow {
    width: 40px;
}

.input_narrows {
    width: 50px;
}

.warn {
 background-color:#fee;
}

hr {
    border-bottom: 1px dotted #787;
    width:100%;
}

.bmp_view {
    background-color:#020;
}

.icon {
  background-repeat: no-repeat;
  background-position: 5px 3px;
  padding-left: 24px;
}

.icon_split {
  background-image: url(split.png);
}

.icon_slice {
  background-image: url(slice.png);
}

.icon_cutoff {
  background-image: url(cutoff.png);
}

.hex_cell {
  float: left;
  margin-right: 3px;
}

.hex_cell_selected {
  background-color: #0d0;
  color: #030;
  box-shadow: 0px 0px 1px #0d0;
}

.hex_cell_selected:hover {
  background-color: #080!important;
}

.hex_value.new_cell:hover, .hex_prefix_cell.new_cell:hover {
  background-color: #0b0;
  color: #030;
}

.hex_separator {
  width: 3px;
  overflow: hidden;
}

.hex_line {
  clear: both;
  height: 1.2em;
}

.hex_line:hover .hex_prefix_cell {
  color: #8f8;
}

.new_cell {
  cursor: pointer;
}